
@media (min-width: 1200px) {
  .profilecontainer {
    margin-left:4em;width:50%;margin-top:2em;
  }
  
  .upBox{
  
  
  position:relative;
  width:80%;
  bottom:14em;
  margin-left: 35em;
  margin-top: 0em;
  
  }
  
  

  
  }
