@media (min-width: 1200px) {
  .profilecontainer1 {
    margin-left:4em;width:50%;margin-top:2em;
  }
  
  .upBox1{
  
  
  position:relative;
  width:100%;
  bottom:14em;
  margin-left: 35em;
  margin-top: -77px;
  
  }
  
  
}


